* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.header {
    position: fixed;
    background-color: blue;
    color: white;
    width: 100%;
    height: 5rem;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    display: flex;
    position: fixed;
    height: 5rem;
    bottom: 0;
    left: 0;
    right: 0;
}

#input {
    flex-grow: 1;
    font-size: 2rem;
}

.submit {
    background: blue;
    color: white;
    padding: 0 2rem;
    font-size: 2rem;
}

#messages {
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#messages li {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 999px;
    width: fit-content;
    font-size: 1.3rem;
}

.register {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 40vw;
    text-align: center;
    margin: 10rem auto;
    background-color: blue;
    color: white;
    font-weight: 1000;
    padding: 1rem;
    border-radius: 1rem;
}

.register input {
    margin-bottom: 1.5rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.register input[type="submit"] {
    background-color: orange;
    color: white;
    width: fit-content;
    align-self: center;
    padding: 0.3rem 1rem;
    cursor: pointer;
}

.register input[type="submit"]:hover {
    background-color: rgb(180, 117, 0);
    color: black;
}

.login {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 40vw;
    text-align: center;
    margin: 10rem auto;
    background-color: blue;
    color: white;
    font-weight: 1000;
    padding: 1rem;
    border-radius: 1rem;
}

.login input {
    margin-bottom: 1.5rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.login input[type="submit"] {
    background-color: orange;
    color: white;
    width: fit-content;
    align-self: center;
    padding: 0.3rem 1rem;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background-color: rgb(180, 117, 0);
    color: black;
}